{% extends "base.html" %}

{% block content %}
<h1>Laboratorio HG Lab</h1>
<section class="py-5 bg-light text-center">
    <div class="container">
        <h2 class="mb-4">Los mejores productos de Laboratorio</h2>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolor non excepturi quos minima dolorem a voluptatem quis maiores debitis ab doloremque veniam mollitia, recusandae blanditiis libero earum praesentium alias.</p>
    </div>
</section>

<section id="servicios" class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h3>Laboratorio</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quos hic inventore rem iure adipisci totam iste labore, sit ipsum quis eveniet. Quaerat tempore saepe adipisci sequi temporibus praesentium optio!</p>
            </div>
            <div class="col-md-4">
                <h3>Directores Generales</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad laboriosam excepturi hic dolorem illum facilis quod dolor fugit voluptatem, minima neque dolore enim illo ut voluptates officiis suscipit eum voluptatibus?</p>
            </div>
            <div class="col-md-4">
                <h3>Productos</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis fuga assumenda maxime saepe voluptatum accusantium at consequuntur enim. Quas odio fuga rerum. Dolores molestias qui hic repellendus praesentium ratione quas.</p>
            </div>
        </div>
    </div>
</section>

{% endblock  %}