<nav class="navbar navbar-expand-lg bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HG Lab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'app_index' %}">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'listar_laboratorio' %}">Laboratorio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'listar_director' %}">Director General</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'listar_producto' %}">Productos</a>
        </li>
      </ul>   
    </div>
  </div>
</nav>

